@import '../../_variables';

.Header {
  height: 192px;
  background-color: black;
  color: white;
  text-align: center;

  //desktop
  @media screen and (min-width: $breakpoint) {
  }

  .Header__red-stroke {
    height: 8px;
    background-color: $red;
  }

  .Header__black-container {
    padding: 24px;
  }

  img {
    width: 40px;
    height: 40px;
    margin: 0 0 4px 0;
  }

  h2 {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
  }
  h1 {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
  }

  .Header__social-links-group {

    display: flex;
    justify-content: center;
    svg {
      
      // z-index: 5;
      margin: 4px;
      // transition: fill 0.5s ease;

      // path{
      //   transition: fill 0.5 ease;
      //   fill: $red;
      // }
    }
    
    // a.fbLink > svg > path, a.igLink > svg:hover > path, a.twLink > svg:hover > path {
    //   fill: blue;
    // }
    svg, svg path {
      transition: all 0.5s ease;
      fill: red;
    }
    svg:hover {
      transform: translateY(-3px);
      // fill: white;
    }
    svg:hover path {
      // transform: translateY(-3px);
      fill: white;
    }


  }
}
